#athletes {
  height: 200px;
}

#group {
  height: 200px;
}
.btn-custom {
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 30px;
}
.btn-custom2 {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: -20px;
}
.buttons {
    margin-top: 50px;
}
.filter-row {
    margin-top: 20px;

}
.custom-select {
    margin-top:10px;
}
.select-row {
    margin-top: 20px;
}