html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 600px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
#athlete-table {
  padding-top: 20px;
}